# Archivos de configuración de editores
.vscode/
.idea/

# Ignorar el entorno virtual
venv/
/venv
env/
# ¡El más importante! Ignorar secretos
.env
# Credenciales Firebase
firebase-service-account.json
# Archivos compilados de Python
__pycache__/
*.pyc

# Archivos de media (que deben estar en S3 o database no en Git)


# Archivos estáticos recolectados (se generan en el servidor)
static_root/

# Archivos de base de datos de desarrollo
*.sqlite3
db.sqlite3"firebase-admin.json" 
"firebase-admin.json" 
"firebase-admin.json" 
